.section-map {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  height: 100%;
  z-index: 0;
}

.map-ui-style {
  position: absolute;
  bottom: 64px;
  left: 48px;
  z-index: 2;
  border: 5px solid salmon;
  width: 10vw;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
